<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>alerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="alert()" >Alerta</ion-button>
  <ion-button expand="block" (click)="multiple()" >Alerta Multiplo</ion-button>
  <ion-button expand="block" (click)="confirm()" >Confirma</ion-button>
  <ion-button expand="block" (click)="prompt()" >Prompt</ion-button>
</ion-content>
